.env
.venv
venv
*.pyc
backend\data\database.db
Lectures
lecture_images
Lectures
.vscode
Lectures
src/ai_workspace/agents/engineering_codegen/module_vectorstore/"src/**/data_level0.bin" 
src/ai_workspace/vectorstores