:root {
    --light-shades: #faf8f7;
    --light-accent: #eeaf48;
    --main-brand-color: #75b0d9;
    --dark-accent: #2aafda;
    --dark-shades: #363962;
  }
  
  .my-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      135deg,
      var(--dark-shades) 0%,
      var(--light-shades) 0%,
      var(--main-brand-color) 100%
    );
    color: var(--dark-shades);
    border-top: 1px solid #e9ecef;
    padding: 20px 0;
    font-size: 0.9rem;
  

    width: 100%;
  }
  
  .my-footer p {
    margin-bottom: 5px;
  }
  
  .footer-link {
    color: #086fdd;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  