/* Color Scheme */
:root {
  --light-shades: #FAF8F7;
  --light-accent: #EEAF48;
  --main-brand-color: #75B0D9;
  --dark-accent: #2AAFDA;
  --dark-shades: #363962;
}


/* General */
.my-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.my-container *{
  margin-top: 2rem;
}


.table-responsive{
  width: 80%;
}

