.modal-overlay {
  position: fixed;
  width: 80%;
  max-width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: var(--light-shades);
  color: var(--dark-shades);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
